<IfModule mode_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /traversymvc/public
    RewiteCond %{REQUEST_FILENAME} !-d
    RewiteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>